@font-face {
    font-family: Starlight Personal;
    src: url('Starlight Personal.ttf');
    font-weight: bold;
}

.header-container{
    min-width: 1200px;
    height: 80px;
    background-color: #2c4762;
    margin: 0px;
    padding-top: 20px;
    width: 100%;
    position: relative;
}

.title{
    min-width: 200px;
    font-family: Starlight Personal;
    font-size: 32px;
    position: absolute;
}

.title a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.user {
    height: 40px;
    width: 170px;
    float: right;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 5px;

    right: 10px;
    
}

.user-button{
    height: 40px;
    width: 170px;
    background-color: #2c4762;
    color: #ffffff;
    border: 0px ;

    font-size: 14px;

    margin-right: 5px;
    right: 10px;
}

.user-content{
    display: block;
    position: absolute;
    background-color: #ffffff;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.user-content a{
    text-decoration: none;
    margin: 20px 0;
}

.search{
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px 5px;
    padding-left: 35px;
    width:50%;
    min-width: 400px;
    position: absolute;
    left: 260px;
    border:0px;
    border-radius: 100px;
}
.search:focus{
    outline: #2c4762;
}
.write-a-post{
    width: 150px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    right: 200px;
}
.write-a-post a{
    text-decoration: none;
    color: #ffffff;
    margin: 10px 10px;

}

