/* style menu bar */
.menu-bar{

    grid-area: main;
    height: 80px;
    background-color: #e6e6e6;
    padding:auto;
  }

  .container{
    width:100%;
    background-color: #e6e6e6;
    padding-left:90px;
  }